#checkot_main_container_div{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    background-color: black;
    font-size: xx-large;
    margin-bottom: 0px;
}

#checkout_main_proccess_div{
    width: 70%;
    border: 1px solid transparent;
}

#checkout_adress_div, #checkout_payment_div, #checkout_order_status_div, #main_amount_show_div{
    border: 1px solid rgb(95, 95, 95);
    margin: 0;
}

#checkout_name{
    display: flex;
    margin-top: 5%;
}

#userfirstname, #userlastname, #useremail, #userphnnum, #cardexpirydate{
    width: 40%;
}

#useraddress, #cardnumber{
    width: 80%;
}

#checkout_add_details_button_div, #main_order_buttons_div{
    display: flex;
    justify-content: right;
}

#checkout_add_details_button, #main_payment_button, #cancel_order, #countinue_shopping{
    font-size: larger;
    font-weight: bolder;
    background-color: black;
    color: white;
    border: 0;
    padding: 10px 20px;
    margin-right: 5%;
    margin-bottom: 20px;
    border-radius: 20px;
}

#checkout_add_details_button:hover, #main_payment_button:hover, #cancel_order:hover, #countinue_shopping:hover{
    background-color: rgb(85, 83, 83);
    cursor: pointer;
}

input{
    font-size: x-large;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#checkout_payment_div{
    display: none;
}

#cardnumber{
    margin-top: 5%;
}

#expirydateheading{
    margin-left: 10px;
    margin-bottom: 0px;
}

#payment_button_div{
    display: flex;
    justify-content: right;
}

#checkout_order_status_div{
    display: none;
}

#show_order_main_div{
    width: 90%;
    margin: auto;
}

#show_order_main_div>h2{
    margin-bottom: 0px;
}

#show_order_user_name, #show_order_user_address, #show_order_user_total_amount, #you_will_recice_order_on{
    margin-top: 0px;
    font-size: larger;
    text-decoration: double;
}

#checkout_main_amount_div{
    width: 30%;
    border: 1px solid transparent;
    height: 300px;
}

#main_amount_show_div{
    
    padding-left: 10px;
}

#show_amount_to_pay, #show_tax_to_pay, #show_total_amount_to_pay{
    margin-left: 10%;
    color: rgb(54, 54, 54);
    text-decoration: underline dotted;
}

#show_total_amount_to_pay{
    color: rgb(255, 30, 0);
}

@media only screen and (min-width: 415px) and (max-width: 820px){
    #checkot_main_container_div{
        width: 80%;
        margin: auto;
        display: block;
        gap: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #checkout_main_proccess_div{
        width: 90%;
        border: 1px solid transparent;
    }

    #checkout_main_amount_div{
        width: 50%;
        border: 1px solid transparent;
        height: 300px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 414px){
    #checkot_main_container_div{
        width: 100%;
        margin: auto;
        display: block;
        gap: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #checkout_main_proccess_div{
        width: 100%;
        border: 1px solid transparent;
        padding-bottom: 10px;
        border-bottom: 3px solid red;
    }

    #checkout_main_amount_div{
        width: 100%;
        border: 1px solid transparent;
        height: 300px;
        margin-top: 0px;
    }
}